{% extends "challenge.html" %}
{% block description %}
<img src="about:blank" onerror="$(document).ready(() => {console.log('ready'); window.DOCKER_CONTAINER = '{{ challenge.docker_image | safe }}'; setTimeout(() => get_docker_status(DOCKER_CONTAINER), 250)})" style="display: none;" />
{{ challenge.html }}
<div class='mb-3 text-center' id='docker_container'>
    <span>
        <a onclick="start_container('{{ challenge.docker_image | safe }}');" class='btn btn-dark'>
            <small style='color:white;'><i class="fas fa-play"></i> Start Docker Instance</small>
        </a>
    </span>
</div>
{% endblock %}
